# change the gitignore file template to prevent uploading local filepaths outside of the project repository files:  https://devtut.github.io/git/ignoring-files-and-folders.html#ignoring-files-and-directories-with-a-gitignore-file